@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,300&display=swap');
:root{
    --background:linear-gradient(0deg,#667eea2f 0%, #764ba200 100%);
    --color-primary:#667eea;
    --color-secondary:#764ba2;
    --boton-padding: 10px 25px;
}
/*Seccion de Titulo e Iconos*/
body{font-family: 'Raleway', sans-serif;}
.container{
    width:90%;
    margin:0 auto;
    overflow: hidden;
    padding: 0;
    max-width:1200px;  
}
.subtitle{
    color: var(--color-primary);
    font-size: 2,5rem;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle;
}
.hero{
    height: 110vh;
    background-image: var(--background), url('assets/Portada.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position:top;
    position: relative;
}
.hero .container{
    display: grid;
    align-items: top;
    padding: 10px;  
}
.nav{
    display: flex;
    justify-content:flex-end;
    height: 60px;
    align-items: center;
    font-weight: 700;
    padding: 10px;
    margin-left: auto;
}

.nav__items{
    color: #fff;
    text-decoration: none;
    margin-left: 0px;
    padding: 10px 15px;
    font-weight: inherit;
}
.nav__items--cta{
    display: inline-block;
    background:#98C123;
    padding: var(--boton-padding);
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    font-weight: 100;
}

.hero__container{
    display:flex;
    color:#fff;
    height: 80px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
}
.seccionIcon{
    display:grid;
    min-height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    vertical-align: middle;
}
.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.alineadoTextoImagenCentro{
    float: left;
    margin-right: 20px;
  }
  .alineadoTextoImagenArriba{
    float: right;
    margin-left: 5px;
  }
.hero__icon{
    text-align: center;
    margin: 0;
}
.icon{
    max-width: 150px;
    border-radius: 20%;
    border-style:double;
    border-width: 8px;
    border-color: #98C123;  
}
.tag{display: inline-block;}
/*About*/
.presentation{
    padding: 0;
    text-align: center;
    align-items: center;
    padding-bottom: 100px;
}
.presentation__picture{
    width: 200px;
    height: 200px;
    border-radius: 0%;
    object-fit: fill;
    padding-bottom: 20px;
    align-items: center;
}
.iconParagraph{
    max-height: 140px ;
    display: inline-block;
} 

.presentation__copy{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    text-align: justify;
}
.about{
    display: grid;
    min-height: 40px;
    grid-template-columns: 1fr 1fr;
    vertical-align: middle;
    
}
.about__texts{
    text-align: justify;
    
}
.about__iconParagraph{
    text-align: center;
}